
    body{
        font-family: 'Source Sans Pro', sans-serif;
        margin:0;
        padding:0;
        line-height:1.5;
        font-size:15px;
        background:#f8f8f8;
    }

/* Global */    
    p{font-weight:400;}
    h1,h2,h3,h4,h5,h6{font-weight:700;}
    .container{width:1200px;margin:auto;overflow:hidden;}

/* Header */

    header{background:#e9e9e9;padding-bottom:10px;}
    header .f_layer_main_case{background:#194CC9;}
    header .f_layer_main_case .f_layer_header{display:flex;justify-content:space-between;}
    header .f_layer_main_case .f_layer_header .left_box{display:flex;}
    header .f_layer_main_case .f_layer_header .right_box{display:flex;}
    header .f_layer_main_case .f_layer_header .left_box a{text-decoration:none;color:#f1f1f1;font-size:.9rem;transition:.5s ease;} 
    header .f_layer_main_case .f_layer_header .left_box a p{margin-right:10px;}
    header .f_layer_main_case .f_layer_header .left_box a i{margin-top:18px;margin-right:10px;transition:.5s ease;}
    header .f_layer_main_case .f_layer_header .left_box a i:hover,
    header .f_layer_main_case .f_layer_header .left_box a:hover{color:#FB0131;transition:.5s ease;}
    header .f_layer_main_case .f_layer_header .right_box a{text-decoration:none;color:#f1f1f1;font-size:.9rem;transition:.5s ease;}
    header .f_layer_main_case .f_layer_header .right_box a p{margin-left:10px;}
    header .f_layer_main_case .f_layer_header .right_box a i{margin-top:18px;margin-left:10px;transition:.5s ease;}
    header .f_layer_main_case .f_layer_header .right_box a i:hover,
    header .f_layer_main_case .f_layer_header .right_box a:hover{color:#FB0131;transition:.5s ease;} 
    /* Active Header */
    @keyframes header_1_animation{
        0%{transform:translateY(-200px);opacity:.8;}
        100%{transform:translateY(0);}
    }
    header.active{position:fixed;top:0;z-index:15000;margin:auto;width:100%;box-shadow:#adadad 0 1px 4px;animation:header_1_animation 1s ease;}


    header .sec_layer_header{display:flex;padding:5px 0 0 0;}
    header .sec_layer_header .image_case img{height:65px;margin-top:10px;display:block;}
    header .sec_layer_header .search_case{width:80%;}
    header .sec_layer_header .search_case form{width:80%;margin:auto;position:relative;padding:5px;margin-top:5px;}
    header .sec_layer_header .search_case form input[type="text"]{width:100%;height:40px;box-sizing:border-box;border:0;border-radius:5px;outline:none;padding:0 60px 0 10px;font-size:1rem;box-shadow:#000000 0 .5px 5px;}
    header .sec_layer_header .search_case form button{position:absolute;right:5px;outline:none;height:40px;background:#FB0131;border:0;border-top-right-radius:5px;border-bottom-right-radius:5px;padding:0 20px 0 20px;}
    header .sec_layer_header .search_case form button i{color:#f1f1f1;font-size:1rem;}  
    header .sec_layer_header .search_case .bottom_category{display:flex;margin-top:10px;}
    header .sec_layer_header .search_case .bottom_category a{margin-right:10px;font-size:.8rem;text-decoration:none;color:#194CC9;}
    header .sec_layer_header .cart_case i{font-size:2rem;margin-top:30px;color:#194CC9;}
    header .sec_layer_header .cart_case{width:80px;text-align:center;position:relative;}
    header .sec_layer_header .cart_case .total_cart{height:20px;width:20px;background:#FB0131;position:absolute;right:10px;top:14px;border-radius:50%;text-align:center;}
    header .sec_layer_header .cart_case .total_cart p{color:#ffffff;margin:0;font-size:.8rem;}
    header .sec_layer_header .cart_case:hover{cursor:pointer;}

/* Header Mobile */

    .mobile_header{display:none;}
    .mobile_header .first_header{background:#194CC9;padding:10px 0 10px 0;}
    .mobile_header .main_case{display:flex;justify-content:space-between;}
    .mobile_header .main_case .search_case{width:75%;}
    .mobile_header .main_case .search_case input[type="text"]{width:100%;border:0;outline:none;height:25px;padding:0 5px 0 5px;}
    .mobile_header .main_case .cart_case i,
    .mobile_header .main_case .log_case i{color:#ffffff;line-height:30px;}
    .mobile_header .main_case .cart_case{height:26px;;width:35px;text-align:center;position:relative;}
    .mobile_header .main_case .cart_case .mobile_total_cart{height:12px;width:12px;background:#FB0131;position:absolute;top:0;right:2px;border-radius:50%;} 
    .mobile_header .main_case .cart_case .mobile_total_cart p{margin:0;font-size:.5rem;}

    .mobile_header .mobile_icon_case{text-align:center;padding:10px;background:#f1f1f1;}
    .mobile_header .mobile_icon_case img{height:80px;margin-left:-25px;}

    .mobile_header.active{position:fixed;top:0;width:100%;z-index:15000;animation:header_1_animation 1s ease;box-shadow:#adadad 0 1px 4px;}

/* Section 1 */    

    .sec_1_case{background:#ffffff;padding-bottom:30px;}
    .sec_1_case .main_case{display:flex;margin-top:30px;justify-content:space-between;}
    .sec_1_case .main_case .sec_1_box_image_right .right_box{display:none;}
    .sec_1_case .main_case .sec_1_box_image_right .right_box.active{display:block;animation:banner_animation .5s ease;}
    @keyframes banner_animation{
        from{opacity:.5;}
        to{opacity:1;}
    }

/* Section 2 */     

    .sec_2_case{margin-top:30px;color:#333333;}
    .sec_2_case .case_categories{background:#ffffff;padding:5px 20px 5px 20px;border-bottom:#e0e0e0 1px solid;}
    .sec_2_case .category_body{height:350px;background:#ffffff;padding-bottom:20px;}
    
    .sec_2_case .category_body .swiper-container {width:100%;height:100%;margin-left:auto;margin-right:auto;}
    .sec_2_case .category_body  .swiper-slide {text-align:center;font-size: 18px;background: #fff;height: calc((100% - 30px) / 2);/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}

    .sec_2_case .category_body  .swiper-slide a{text-decoration:none;}
    .sec_2_case .category_body  .swiper-slide p{margin:0;color:#333333;}
    .sec_2_case .category_body .swiper-container .swiper-pagination{margin-top:180px;}

/* Section 3 */  
    
    .sec_3_case{margin-top:25px;}

/* Section 4 */

    .sec_4_home{margin-top:25px;color:#333333;} 
    .sec_4_home .header_case{background:#ffffff;padding:5px 20px 5px 20px;border-bottom:#e0e0e0 1px solid;display:flex;justify-content:space-between;}
    .sec_4_home .header_case a{margin-top:22px;color:#FB0131;text-decoration:none;}
    
    .sec_4_home .body_top_product{background:#ffffff;height:410px;}
    .sec_4_home .body_top_product .swiper-container_top_sec_4_product{width: 100%;padding-top: 50px;padding-bottom: 50px;}
    .sec_4_home .body_top_product .swiper-container_top_sec_4_product .swiper-slide{background-position: center;background-size: cover;width: 300px;height: 300px;}
    .sec_4_home .body_top_product .swiper-container_top_sec_4_product .swiper-slide img{height:80%;width:100%;}
    .sec_4_home .body_top_product .swiper-container_top_sec_4_product .swiper-slide a{text-decoration:none;}
    .sec_4_home .body_top_product .swiper-container_top_sec_4_product .swiper-slide p{text-align:center;color:#333333;font-size:1.2rem;margin-top:5px;}

/* Section 5 */

    .sec_5_home{margin-top:25px;color:#333333;} 
    .sec_5_home .header_case{background:#ffffff;padding:5px 20px 5px 20px;border-bottom:#FB0131 3px solid;display:flex;justify-content:space-between;}
    .sec_5_home .header_case a{margin-top:22px;color:#FB0131;text-decoration:none;}

    .sec_5_home .case_body{display:flex;justify-content:space-between;}
    .sec_5_home .case_body .box_product{width:18%;margin-top:20px;background:#ffffff;border-radius:5px;box-shadow:#dfdfdf 0 1px 3px;height:auto;transition:.5s ease;position:relative;}   
    .sec_5_home .case_body .box_product a{text-decoration:none;color:#333333;} 
    .sec_5_home .case_body .box_product .img_case{height:216px;border-top-left-radius:5px;border-top-right-radius:5px;}
    .sec_5_home .case_body .box_product .text_content{padding:12px;}
    .sec_5_home .case_body .box_product .bottom_text{display:flex;justify-content:space-between;margin-top:10px;}
    .sec_5_home .case_body .box_product .text_content p{margin:0;}
    .sec_5_home .case_body .box_product .bottom_text p.price{color:#194CC9;}
    .sec_5_home .case_body .box_product .bottom_text p.sold{color:#999999;font-size:.8rem;margin-top:2px;}

    .sec_5_home .case_body .box_product:hover{margin-top:10px;transition:.5s ease;}
    .sec_5_home .case_body .box_product:after{content:"";height:2px;width:0;background:#FB0131;bottom:0;position:absolute;left:0;transition:.5s ease;}
    .sec_5_home .case_body .box_product:hover:after{width:100%;transition:.5s ease;}

    .case_see_more{text-align:center;margin-top:30px;}
    .case_see_more button{padding:10px 80px 10px 80px;background:#FB0131;border:0;color:#ffffff;position:relative;}
    .case_see_more button:hover{background:#e90a37;transition:.5s ease;}
    
/* Section 6 */

    .sec_6_home{margin-top:25px;color:#333333;} 
    .sec_6_home .header_case{background:#ffffff;padding:5px 20px 5px 20px;border-bottom:#e0e0e0 1px solid;display:flex;justify-content:space-between;}

    .sec_6_home .sec_6_body{height:250px;}
    .sec_6_home .sec_6_body .swiper-container_sec_6_trending_search{width:100%;height:100%;margin-left:auto;margin-right:auto;}
    .sec_6_home .sec_6_body .swiper-slide{text-align:center;font-size:18px;background:#fff;height: calc((100% - 30px) / 1);/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
    .sec_6_home .sec_6_body .swiper-slide img{margin-top:10px;}
    .sec_6_home .sec_6_body .swiper-slide p.name_text{margin:0;color:#333333;}  
    .sec_6_home .sec_6_body .swiper-slide p.bottom_text{margin:0;color:#8b8b8b;font-size:.8rem;}   
    .sec_6_home .sec_6_body .swiper-slide a{text-decoration:none;}

    .sec_6_home .sec_6_body .swiper-pagination_sec_6{text-align:center;}

/* Section 7 */

    .sec_7_home{margin-top:30px;height:auto;background:#ffffff;border-top:#e9e9e9 5px solid;padding:50px 0 50px 0;color:#333333;}
    .sec_7_home p{text-align:justify;}

/* Footer */    

    footer{background:#194CC9;padding:50px 0 30px 0;color:#f1f1f1;}
    footer .body_case{display:flex;justify-content:space-between;}   

    footer .body_case .left_box{display:flex;justify-content:space-between;width:30%;}
    footer .body_case .left_box a{text-decoration:none;display:block;color:#e0e0e0;}

    footer .body_case .right_box{display:flex;justify-content:space-between;width:60%;}
    footer .body_case .right_box a{text-decoration:none;display:block;color:#e0e0e0;}
    footer .body_case .right_box a i{margin-right:10px;}
    footer .body_case a:hover{color:#FB0131;transition:.5s ease;}

    footer .bottom_case{border-top:#9b9b9b 1px solid;margin-top:30px;text-align:center;}
    footer .bottom_case a{text-align:center;margin-top:30px;display:block;text-decoration:none;color:#cacaca;}

/* Top Button Process */ 
    @keyframes go_to_top_animation{
        0%{transform:translateY(200px);opacity:.8;}
        100%{transform:translateY(0);}
    }
    .sec_go_to_top.active{animation:go_to_top_animation 1s ease;display:block;}
    .sec_go_to_top{position:fixed;bottom:15px;right:15px;display:none;}
    .sec_go_to_top .circle_case{height:40px;width:40px;background:#f1f1f1;border-radius:50%;text-align:center;border:#194CC9 1px solid;box-shadow:#333333 0 1px 3px;}
    .sec_go_to_top .circle_case i{line-height:40px;color:#FB0131;transition:.5s ease;transform:scale(1.1);}
    .sec_go_to_top .circle_case:hover i{transform:scale(1.5);transition:.5s ease;}

/* Login */

    @keyframes login_animation_open{
        0%{transform:scale(.2);}
        50%{transform:scale(1.1);}
        75%{transform:scale(.9);}
        100%{transform:scale(1);}
    }
    .sec_login.active{display:block;}
    .sec_login{position:fixed;top:0;width:100%;z-index:18000;height:100%;background:rgb(0, 0, 0, .6);display:none;}
    .sec_login .case_body{height:auto;background:#f3f3f3;width:30%;margin:auto;padding:20px 40px 30px 40px;margin-top:100px;border-radius:10px;animation:login_animation_open .5s ease;margin-bottom:50px;} 
    .sec_login .case_body h2{text-align:center;margin:0;color:#FB0131;}
    .sec_login .case_body input[type="text"]{width:100%;margin-top:40px;background:transparent;border:0;border-bottom:#a1a1a1 1px solid;padding-bottom:10px;outline:none;font-size:1rem;}
    .sec_login .case_body input[type="password"]{width:100%;margin-top:25px;background:transparent;border:0;border-bottom:#a1a1a1 1px solid;padding-bottom:10px;outline:none;font-size:1rem;}
    .sec_login .case_body .case_forgot{margin-top:20px;}
    .sec_login .case_body .case_forgot a.create_account{float:left;font-size:.9rem;color:#FB0131;text-decoration:none;display:none;}
    .sec_login .case_body .case_forgot a.forgot{float:right;font-size:.9rem;color:#FB0131;text-decoration:none;} 
    .sec_login .case_body button{padding:12px 15px 12px 15px;}
    .sec_login .case_body button i{float:left;font-size:1rem;}
    .sec_login .case_body button.login{margin-top:18px;width:100%;border:0;background:#FB0131;color:#f1f1f1;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_login .case_body button.login:hover,
    .sec_login .case_body button.cancel_login:hover{background:#e90a37;transition:.5s ease;}
    .sec_login .case_body button.cancel_login{margin-top:8px;width:100%;border:0;background:#FB0131;color:#f1f1f1;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_login .case_body button.facebook{margin-top:20px;width:100%;border:0;background:#344F88;color:#f1f1f1;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_login .case_body button.facebook:hover{background:#1f3874;transition:.5s ease;}
    .sec_login .case_body button.google{margin-top:8px;width:100%;border:0;background:#ffffff;color:#141414;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_login .case_body button.google i{color:#4286F5;font-size:1.1rem;}
    .sec_login .case_body button.google:hover{background:#f5f5f5;transition:.5s ease;}

/* Sign up */

    .sec_sign_up.active{display:block;}
    .sec_sign_up{position:fixed;top:0;width:100%;z-index:18000;height:100%;background:rgb(0, 0, 0, .6);display:none;}
    .sec_sign_up .case_body{height:auto;background:#f3f3f3;width:30%;margin:auto;padding:20px 40px 30px 40px;margin-top:80px;border-radius:10px;margin-bottom:50px;animation:login_animation_open .5s ease;} 
    .sec_sign_up .case_body h2{text-align:center;margin:0;color:#FB0131;margin-bottom:30px;}
    .sec_sign_up .case_body input[type="text"]{width:100%;margin-bottom:25px;background:transparent;border:0;border-bottom:#a1a1a1 1px solid;padding-bottom:10px;outline:none;font-size:1rem;}
    .sec_sign_up .case_body input[type="password"]{width:100%;background:transparent;border:0;border-bottom:#a1a1a1 1px solid;padding-bottom:10px;outline:none;font-size:1rem;}
    .sec_sign_up .case_body .case_forgot{margin-top:20px;}
    .sec_sign_up .case_body .case_forgot a.terms,
    .sec_sign_up .case_body .case_forgot a.privacy{color:#FB0131;text-decoration:none;} 
    .sec_sign_up .case_body button{padding:12px 15px 12px 15px;}
    .sec_sign_up .case_body button i{float:left;font-size:1rem;}
    .sec_sign_up .case_body button.signup{width:100%;border:0;background:#FB0131;color:#f1f1f1;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_sign_up .case_body button.signup:hover,
    .sec_sign_up .case_body button.cancel_signup:hover{background:#e90a37;transition:.5s ease;}
    .sec_sign_up .case_body button.cancel_signup{margin-top:8px;width:100%;border:0;background:#FB0131;color:#f1f1f1;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_sign_up .case_body button.facebook{margin-top:20px;width:100%;border:0;background:#344F88;color:#f1f1f1;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_sign_up .case_body button.facebook:hover{background:#1f3874;transition:.5s ease;}
    .sec_sign_up .case_body button.google{margin-top:8px;width:100%;border:0;background:#ffffff;color:#141414;box-shadow:#adadad 0 1px 3px;transition:.5s ease;outline:none;}
    .sec_sign_up .case_body button.google i{color:#4286F5;font-size:1.1rem;}
    .sec_sign_up .case_body button.google:hover{background:#f5f5f5;transition:.5s ease;}

/* Manage View Product */

    .sec_1_view_product{padding:25px 0 15px 0;background:#f1f1f1;}
    .sec_1_view_product .header_title{display:flex;}
    .sec_1_view_product .header_title span{margin:0 10px 0 10px;color:#7a7a7a;}
    .sec_1_view_product .header_title a{text-decoration:none;color:#7a7a7a;}
    .sec_1_view_product .header_title a.Current{color:#242424;}

    .sec_1_view_product .view_body_product{background:#ffffff;height:auto;margin-top:25px;display:flex;justify-content:space-between;color:#3a3a3a;}
    .sec_1_view_product .view_body_product .left_view_product{width:45%;height:auto;}
    .sec_1_view_product .view_body_product .left_view_product .big_case_img{text-align:center;}
    .sec_1_view_product .view_body_product .left_view_product .big_case_img img{margin-top:10px;height:400px;}
    .sec_1_view_product .view_body_product .left_view_product .small_img_case{height:100px;} 
    .sec_1_view_product .view_body_product .left_view_product .small_img_case .box_img{width:100px;height:100%;text-align:center;}
    .sec_1_view_product .view_body_product .left_view_product .small_img_case .box_img img{height:100px;}
    .sec_1_view_product .view_body_product .left_view_product .small_img_case{display:flex;justify-content:space-between;}
    .sec_1_view_product .view_body_product .left_view_product .bottom_left_img{background:olive;height:100px;}

    .sec_1_view_product .view_body_product .right_view_product{width:55%;height:auto;padding:0 5px 0 5px;}
    .sec_1_view_product .view_body_product .right_view_product h1{margin-bottom:0;}
    .sec_1_view_product .view_body_product .right_view_product .title_sub_case{display:flex;}
    .sec_1_view_product .view_body_product .right_view_product .title_sub_case i{color:#FB0131;}
    .sec_1_view_product .view_body_product .right_view_product .title_sub_case span{border-bottom:#3a3a3a 1px solid;}
    .sec_1_view_product .view_body_product .right_view_product .title_sub_case span.s_rating{margin-right:5px;}
    .sec_1_view_product .view_body_product .right_view_product .title_sub_case p{margin-right:10px;}
    .sec_1_view_product .view_body_product .right_view_product .price_case{background:#f1f1f1;display:flex;padding-left:20px;}
    .sec_1_view_product .view_body_product .right_view_product .price_case p.prev_price{margin-right:20px;text-decoration:line-through;}
    .sec_1_view_product .view_body_product .right_view_product .price_case h2{margin-right:20px;color:#FB0131;}
    .sec_1_view_product .view_body_product .right_view_product .price_case p.price_off{background:#FB0131;height:22px;padding:2px 5px 2px 5px;margin-top:25px;color:#ffffff;}

    .sec_1_view_product .view_body_product .right_view_product .case_color{padding-left:40px;}
    .sec_1_view_product .view_body_product .right_view_product .case_color button{padding:8px 15px 8px 15px;margin-right:5px;margin-bottom:5px;background:transparent;border:#f1f1f1 1px solid;color:#3a3a3a;outline:none;}
    .sec_1_view_product .view_body_product .right_view_product .case_color button:hover{color:#FB0131;border:#FB0131 1px solid;}
    .sec_1_view_product .view_body_product .right_view_product .case_color button.active{color:#FB0131;border:#FB0131 1px solid;}

    .sec_1_view_product .view_body_product .right_view_product .case_size{padding-left:40px;}
    .sec_1_view_product .view_body_product .right_view_product .case_size button{padding:8px 15px 8px 15px;margin-right:5px;margin-bottom:5px;background:transparent;border:#f1f1f1 1px solid;color:#3a3a3a;outline:none;}
    .sec_1_view_product .view_body_product .right_view_product .case_size button:hover{color:#FB0131;border:#FB0131 1px solid;}
    .sec_1_view_product .view_body_product .right_view_product .case_size button.active{color:#FB0131;border:#FB0131 1px solid;}

    .sec_1_view_product .view_body_product .right_view_product .case_quantity{padding-left:40px;display:flex;color:#3a3a3a;}
    .sec_1_view_product .view_body_product .right_view_product .case_quantity p{margin:4px 0 0 20px;}
    .sec_1_view_product .view_body_product .right_view_product .case_quantity input[type="text"]{padding:5px;width:40px;outline:none;text-align:center;border:0;border-top:#f1f1f1 1px solid;color:#3a3a3a;border-bottom:#f1f1f1 1px solid;}
    .sec_1_view_product .view_body_product .right_view_product .case_quantity button{padding:5px;background:transparent;border:#f1f1f1 1px solid;color:#3a3a3a;outline:none;}

    .sec_1_view_product .view_body_product .right_view_product .bottom_btn{margin-top:30px;}
    .sec_1_view_product .view_body_product .right_view_product .bottom_btn button.cart{padding:13px 20px 13px 20px;margin-right:10px;background:#FB0131;border:0;color:#ffffff;outline:none;}
    .sec_1_view_product .view_body_product .right_view_product .bottom_btn button.buy{padding:13px 30px 13px 30px;margin-right:10px;background:#194CC9;border:0;color:#ffffff;outline:none;}
    .sec_1_view_product .view_body_product .right_view_product .bottom_btn button i{margin-right:10px;}

    .sec_1_view_product .view_body_product .right_view_product .bottom_separator{border-top:#f1f1f1 1px solid;margin-top:30px;}
    .sec_1_view_product .view_body_product .right_view_product .bottom_separator span{font-weight:bold;margin-right:10px;}






    @media(max-width:855px){

        .container{width:90%;}

        header.header_1{display:none;}
        .mobile_header{display:block;}
        .sec_1_case .main_case{flex-direction:column;}
        .sec_1_case .main_case .sec_1_box_image_left{display:none;}
        .sec_1_case .main_case .sec_1_box_image_right{text-align:center;}
        .sec_1_case .main_case .sec_1_box_image_right img{height:100px;}
        .sec_1_case .main_case{margin-top:10px;}
        .sec_1_case{padding-bottom:10px;}
        .sec_2_case{margin-top:10px;}

        .sec_5_home .case_body{flex-direction:column;}
        .sec_5_home .case_body .box_product{width:100%;}
       
        .case_see_more button{width:100%;}

        footer .body_case,
        footer .body_case .right_box{flex-direction:column;}
        footer .body_case .left_box,
        footer .body_case .right_box{width:100%;}
        footer .body_case .right_box{text-align:center;}

        .sec_login .case_body,
        .sec_sign_up .case_body{width:90%;padding:10px 10px 20px 10px;}
        .sec_login .case_body .case_forgot a.create_account{display:block;}
        .sec_sign_up .case_body{margin-top:70px;}

        .sec_1_view_product .view_body_product{flex-direction:column;}
        .sec_1_view_product .view_body_product .right_view_product,
        .sec_1_view_product .view_body_product .left_view_product{width:100%;}
        .sec_1_view_product .view_body_product .right_view_product .bottom_btn button.cart{width:100%;margin-bottom:5px;}
        .sec_1_view_product .view_body_product .right_view_product .bottom_btn button.buy{width:100%;}


    }